@model Activity3.Models.BibleVerse

@{
    ViewBag.Title = "AddVerseSuccess";
}

<h2>Added Verse Successfuly</h2>

<div>
    <p>You have added you verse to our database :) You can no search for it on our Search page</p>
</div>

