@model Activity3.Models.BibleVerse

@{
    ViewBag.Title = "HomePage";
}

<div class="text-center">
    <h1>Welcome to BibleSearch.</h1>
</div>
<br /><br /><br />

<h3>Here you can add your own bibles verses or search for a verse.</h3>

<h3>Welcome to BibleSearch. Here you can add your own bibles verses or search for a verse.</h3>


