
@{
    ViewBag.Title = "SearchVerseFail";
}

<h2>Search Failed! :(</h2>
<p>Your failure has been logged. Any futher attempts at unauthorized access to this system may attract attention of the Committee of Public Safety.</p>
